<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882504180540-eq301b2nbs65oddrmmgbr7n8gj4mtf0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882504180540-eq301b2nbs65oddrmmgbr7n8gj4mtf0t</string>
	<key>API_KEY</key>
	<string>AIzaSyAoyXqe12uLx_xHjiE3BQiu8i2iHfCx8G4</string>
	<key>GCM_SENDER_ID</key>
	<string>882504180540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Farhana.Zeedup</string>
	<key>PROJECT_ID</key>
	<string>zeedup-58e0a</string>
	<key>STORAGE_BUCKET</key>
	<string>zeedup-58e0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:882504180540:ios:d40bc9238e5edb2b963439</string>
	<key>DATABASE_URL</key>
	<string>https://zeedup-58e0a-default-rtdb.asia-southeast1.firebasedatabase.app/</string>
</dict>
</plist>
